* {box-sizing: border-box;}
.contenedor {
	width: 50%;
	margin: auto;
	padding: 2rem;
	border: 1px solid blue;
}
h1,h3 {
	text-align: center;
}
.campo {
	margin-bottom: 1.5rem;
}
.numeros {
	font-size: 1.5rem;
}
.rojo {
	color: red;
}
.azul {
	color: blue;
}

div.numeros {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

div.numeros span {
	text-align: center;
}